body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 7px 12px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:nth-child(1) {
    background: orange;
    color: white;
}

button:nth-child(2) {
    background: red;
    color: white;
}

